@use "../../styles//mixins" as *;
@use "../../styles/fonts" as *;
@use "../../styles/colors" as *;
@use "../../styles/responsive" as *;

.dark-tryouts {
  box-shadow: 0 0px 4px #ffffff;
  border-radius: 0.5rem;
  background-color: #00396b;
  width: 300px;
  margin: auto;

  @include tablet {
    position: absolute;
    right: 4.8125rem;
    top: 6.125rem;
  }

  @include desktop {
    width: 465px;
    height: 465px;
    right: 19.8125rem;
    top: 6.125rem;
  }
  
  
}

.light-tryouts {
  box-shadow: 0 0px 4px #000000;
  border-radius: 0.5rem;
  background-color: white;
  width: 300px;
  margin: auto;
  color: rgb(22 169 205);

  @include tablet{
    position: absolute;
    right: 4.8125rem;
    top: 6.125rem;
  }

  @include desktop {
    width: 465px;
    height: 465px;
    right: 19.8125rem;
    top: 6.125rem;
  }
 
}


.dark-tryouts-text{
  color: white;
  text-align: center;
  width: 16.375rem;
  margin: 0 1.25rem .625rem;
  font-size: 12px;

  @include tablet {
    font-size: 19px;
  }

  @include desktop{
    font-size: 20px;
    width: 21.0625rem;
    margin: 15px 1.25rem .625rem;
  }
}

.light-tryouts-text{
  color:white;
  text-align: center;
  width: 16.375rem;
  margin: 0 1.25rem .625rem;
  font-size: 12px;

  @include tablet {
    font-size: 19px;
  }

  @include desktop{
    font-size: 20px;
    width: 21.0625rem;
    margin: 15px 1.25rem .625rem;
  }
}

.tryouts-toggle {
  position: absolute;
  top: 5px;
  right: 15px;

  @include tablet {
    top: 12px;
    right: 21px;
  }
}

.toggle-tryouts-img {
  width: 32px;

  @include tablet {
    width: 37px;
  }

  @include desktop {
    width: 47px;
  }
}

.tryout-form {
  // @include tablet {
  //   position: relative;
  // }

  &__background {
    width: 100%;
    height: 100vh;
  }

  &__title-container {
    margin: auto;
    width: 312px;

    @include tablet {
      position: absolute;
      top: 5.9375rem;
      left: 2.625rem;
    }

    @include desktop {
      left: 5.625rem;
    }

   
  }

  &__title {
    text-align: center;
    width: 16.375rem;
    margin: 0 1.25rem;
    color: #9DF803;

    @include tablet {
      font-size: 3.5625rem;
    }
    @include desktop {
      font-size: 3.0625rem;
      width: 21.0625rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    margin: auto;
    

    @include desktop{
      height: 100%;
      justify-content: space-evenly;
    }
  }


  &__input {
    margin-bottom: 0.75rem;
    border: 1px solid $border-form;
    border-radius: 0.5rem;
    padding: 0.375rem;
    font-size: inherit;

    @include desktop{
      width: 408px;
    }
  }

  

  // &__text {
  //   // color: $yellow;
  //   padding-bottom: 1.25rem;
  //   font-size: 0.625rem;
  //   margin: 0 1.25rem;

  //   @include tablet {
  //     width: 18.75rem;
  //     font-size: 1rem;
  //   }
  // }

  &__name {
    font-size: 1.0625rem;
    display: flex;
    flex-direction: column;
    width: 15.1875rem;

    @include tablet {
      width: 15.625rem;
    }
  }

  &__button {
    width: 6.0625rem;
    margin: 1rem 10px 0 0;
    border-radius: 0.3125rem;
    padding: 0.375rem;
    align-self: flex-end;
    cursor: pointer;
    transition: background-color 0.15s;
    position: relative;
    color: $white;
    background: $black;

    @include tablet {
      margin: 1rem 6px 0 0;
    }

    &:before {
      content: "";
      background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
      );
      position: absolute;
      top: -0.125rem;
      left: -0.125rem;
      background-size: 400%;
      z-index: -1;
      filter: blur(5px);
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      animation: glowing 20s linear infinite;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      border-radius: 0.625rem;
    }

    &:active {
      color: $black;
    }

    &:active:after {
      background: transparent;
    }

    &:hover:before {
      opacity: 1;
    }

    &:after {
      z-index: -1;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: $black;
      left: 0;
      top: 0;
      border-radius: 0.625rem;
    }
    @keyframes glowing {
      0% {
        background-position: 0 0;
      }
      50% {
        background-position: 400% 0;
      }
      100% {
        background-position: 0 0;
      }
    }
  }

  &__textarea {
    resize: none;
    border: 1px solid $border-form;
    border-radius: 0.5rem;
    font-family: "Titillium Web";
    font-size: 0.75rem;
    width: 15.1875rem;
    height: 7.75rem;

    @include tablet {
      width: 15.5rem;
      height: 6.125rem;
    }

    @include desktop {
      width: 25.5rem;
      height: 10.125rem;
    }
  }
}
