@use "../../styles/mixins" as *;
@use "../../styles/colors" as *;
@use "../../styles/responsive" as *;

.login-page {
    // background-color: $login-background;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.login {
    display: flex;
    flex-direction: column;
    width: 22rem;
    box-shadow: 0 2px 16px $form-shadow;
    // background-color: $white;
    border-radius: 0.5rem;
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;

    &__title {
     @include form-title;
     width: 32%;
    }

    &__button {
        // @include button-style;
        border-radius: 10px;
        margin-top: 1rem;
        border-radius: 0.7rem;
        padding: 0.5rem;
        font-size: inherit;
        cursor: pointer;
        transition: background-color 0.15s;
        position: relative;
        color: $white;
        background: $black;
    }

    &__message {
        border-left: 5px solid $login-message-background;
        padding: 0.75rem;
        margin-top: 2rem;
    }

    &__link{
        text-decoration: none;
        color: $yellow;
    }
}
