@use "../../styles/colors" as *;
@use "../../styles//responsive" as *;

.field {
    display: flex;
    flex-direction: column;
    color: rgb(45 169 230 / 93%);

    &__label {
        margin-bottom: 0.5rem;

        @include desktop {
            font-size: 21px;
        }
    }

    &__input {
        margin-bottom: 1rem;
        border: 1px solid $border-form;
        border-radius: 0.5rem;
        padding: 0.5rem;
        font-size: inherit;
      
    }
}