@use "../../styles/colors" as *;
@use "../../styles/responsive" as *;
@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;

.player-card {
  // background-image: url("../../assets/images/capstone-background.png");
  // background-repeat: repeat;
  // background-position: center;
  // background-size: contain;
  // height: 100%;
 
  &__file {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 82.875rem;
    margin: auto;
    gap: -0.25rem;
    padding-top: 0.625rem;

    @include desktop{
      padding: 0.625rem 0 40px;
      gap: 18px;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    width: 13.75rem;
    cursor: pointer;
    

    @include desktop{
      width: 12.75rem;
    }
  }

  &__image {
    width: 80%;
    box-shadow: 0px 1px 5px $box-shadow;
    border-radius: 50%;
    background-color: black;
    transition: background-color 0.3s ease;
     &:hover{
      background-color: $playerCard-hover;
     }
  }

  &__info {
    // color: $black;
    margin: .3125rem 0 1rem;
    display: flex;
    justify-content: center;
  }

  &__color {
    color: $yellow;
    font-weight: 700;
    margin-left: .3125rem;
  }
}
