$black: #292925;
$white: #ffffff;
$yellow: #2d30f2;
$box-shadow: rgb(173 171 171);
$form-shadow: rgba(0, 0, 0, 0.1);
$border-underline: #9e9e9c;
$burger-menu-background: rgba(0, 0, 0, 0.7);
$menu-hover: rgba(255, 255, 255, 0.5);
$close:  rgb(255, 255, 255);
$login-background: #f5f5f5;
$login-message-background: #ddd;
$main-background: #282626;
$not-admin: #f44040;
$login-button: #eaeaea;
$playerCard-hover: rgb(147 148 149);
$tryouts-background: #bcbcbf;
$border-form: #ccc;
$time: #777777;

// Dark mode
$dark-bg: #222;
$dark-text: #eee;
$dark-link: #999;

// light mode
$light-bg: #eee;
$light-text: #222;
$light-link: #666;