@use "./colors" as *;

/* Create a mixin to choose the correct theme styles */
// @mixin apply-theme($theme) {
//   @if $theme == 'dark' {
//     @include dark;
//   } @else {
//     @include light;
//   }
// }


// @mixin light {
//     background-color: yellow;
//     color: green;
  
// }

// @mixin dark {
//     background-color: blue;
//     color: white;

// }


@mixin form-title {
  margin-top: 0;
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 1.375rem;
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(
    0.25turn,
    #ff6663,
    #feb144,
    #fdfd97,
    #9ee09e,
    #9ec1cf,
    #cc99c9,
    #e171c8,
    #ff6663
  );

  border-image-slice: 1;
  padding-bottom: 0.5rem;
  align-self: center;
}
