@use "../../styles/colors" as *;

.main-nav{
height: 66px;
display:flex;
align-items: flex-end;
gap: 20px;
justify-content: space-evenly;
background-color: black;
opacity: 50%;

    &__link{
        text-decoration: none;
        color: $black;
    }
}

.logo{
    width: 100px;
    align-self: center;
   object-fit: contain;
}
