@use "../../styles/colors" as *;
@use "../../styles/responsive" as *;
@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;

.player-details-toggle{
  position: absolute;
  top: 15px;
  right: 90px;

  @include tablet {
      top: 15px;
      right: 90px;
  }

  @include desktop{
    top: 12px;
    right: 25px;
  }
}

.toggle-player-details-img{
  width: 32px;

  @include tablet{
      width: 37px
  }

  @include desktop {
    width: 42px;
  }
}

.light-player-details{
  position: relative;
  height: 100vh;

  @include tablet {
    // display: flex;
    margin: auto;
    width: 48.1875rem;
  }
}

.dark-player-details{
  position: relative;
  height: 100vh;

  @include tablet {
    // display: flex;
    margin: auto;
    width: 48.1875rem;
  }
}


.single-player {
  
  &__heading {
    // color: $black;
    width: 12.5rem;
    margin: auto;
    padding: 0.625rem 0 0.625rem 0;

    @include tablet {
      margin: 0;
      padding: 0.625rem 0 0.625rem 0.8125rem;
      width: 18.75rem;
      position: absolute;
      right: 14rem;
      top: 2.4375rem;
      font-size: 2.4375rem;
      line-height: 3.0625rem;
    }

    @include desktop {
      right: 13rem;
      top: 2.6875rem;
      width: 25rem;
      font-size: 3.0625rem;
    }
  }

  &__last-name {
    color: $yellow;
    @include tablet {
      padding-left: 0.625rem;
      border-bottom: 1px solid $black;
    }
    @include desktop {
      border: none;
    }
  }

  &__image-container {
    width: 12.5rem;
    margin: auto;
    border-radius: 3%;

    @include tablet {
      width: 13.875rem;
      margin: 0;
      position: relative;
    }
  }

  &__image {
    width: 100%;
    object-fit: fill;
    box-shadow: 0rem 0rem 0.375rem $box-shadow;
    border-radius: 3%;

    @include tablet {
      position: absolute;
      left: 1.5625rem;
      top: 3.75rem;
      width: 96%;
    }

    @include desktop {
      left: -10.875rem;
      top: 3.75rem;
      width: 142%;
      box-shadow: none;
    }
  }

  &__container {
    gap: 1.1875rem;
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 17.125rem;
    padding: 0.3125rem 0 0.625rem 1.875rem;

    @include tablet {
      display: inline;
      position: absolute;
      right: 16.5625rem;
      top: 10rem;
    }

    @include desktop {
      right: 17.3125rem;
      top: 10.5rem;
      font-size: 1.25rem;
      width: 21.4375rem;
    }
  }

  // &__content {
  //   // color: $black;
  // }

  &__description {
    // color: $black;
    width: 15.25rem;
    margin: auto;
    border-top: 1px solid #C3FD60;
    padding: 0.625rem 0 1.3125rem 0.625rem;

    @include tablet {
      border-left: 1px solid #C3FD60;
      border-top: none;
      padding: 1.3125rem 0 1.3125rem 0.8125rem;
      position: absolute;
      right: 39px;
      top: 4.375rem;
      max-height: 16.0625rem;
      width: 13.75rem;
      max-width: 18.75rem;
    }

    @include desktop {
      right: -2rem;
      top: 7.375rem;
      height: 12.3125rem;
      width: 16.9375rem;
      font-weight: 600;
    }
  }

  &__last-name--color {
    color: $yellow;
    margin: 0 0.3125rem 0 0;
  }
}
