@use "../../styles/colors" as *;
@use "../../styles/responsive" as *;
@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;

.login__main-button{
  color: white;
  border: 2px solid #9df803;
  // border-bottom: 2px solid #9df803;
  // border-top: 2px solid #9df803;
  margin-top: 17px;
    transition: background-color 0.15s;
    position: absolute;
    right: 1.8125rem;
    font-weight: 600;
    padding: 4px 5px;

    &:hover,
    &:focus {
      background-color: #333;
      transform: skew(10deg, 0);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      border:none;
    }

    @include tablet {
      margin-top: 16px;
      padding: 7px 19px;
      right: 3.8125rem;
    }

    @include desktop {
      right: 85px;
    }
   
  }

