@use "../../styles/colors" as *;
@use "../../styles/responsive" as *;

.home-nav {
  height: 66px;
  background-color: grey;
}


.navigation {
  background: $burger-menu-background;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  // overflow: hidden;
  transition: left 0.3s;
  width: 100%;
  z-index: 100;
  

  h1,
  h1 .navigation-link {
    color: $yellow;
    width: 100%;
    text-align: center;
    z-index: 101;
   
  }
  h1 .navigation-link {
    display: block;
    font-size: 22px;
    margin: 20px 20px 0 0;
    text-decoration: none;
    transition: all 0.3s ease;
   
      &:hover {
        background: $menu-hover;
        
    }
  }
}

  .home-nav__toggle {
    display: block;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;
    margin-top: 10px;
   
  
    .controller {
      display: inline-block;
      height: 26px;
      padding: 0px 0px;
      cursor: pointer;
      opacity: 0.97;
      transition: all 0.3s ease;
      

      span {
        display: inline-block;
        text-transform: uppercase;
        line-height: 18px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        margin-left: 0px;
        width: 0px;
        // overflow: hidden;
      
      }
  
      .slide {
        position: relative;
        top: -2px;
        width: 20px;
        height: 4px;
        background: $black;
        display: inline-block;
  
        &:before,
        &:after {
          display: block;
          content: "";
          height: 4px;
          width: 20px;
          background: $black;
          position: absolute;
          z-index: -1;
          transition: all 0.1s 0.2s ease, transform 0.2s ease;
        
        }
  
        &:before {
          top: 8px;
          
        }
  
        &:after {
          top: -8px;
          
        }
      }
    }
   
  }
  .nav-control {
    position: absolute;
    left: -9999px;
    width: 100%;
    clip: rect(0, 0, 0, 0);
   
  
    &:checked ~ .navigation {
      left: 0;
      opacity: 1;
      transition: left 0.3s, opacity 0.3s;
      
    }
    &:checked ~ .home-nav__toggle {
      .controller {
        .slide {
          transition: all 0.1s 0s ease;
          background: transparent !important;
          z-index: 101;
          
          &:before,
          &:after {
            background: $close;
            transition: all 0.1s ease, transform 0.1s 0.2s ease;
            top: 0;
            width: 20px;
          }
  
          &:before {
            transform: rotate3d(0, 0, 1, 45deg);
          }
  
          &:after {
            transform: rotate3d(0, 0, 1, -45deg);
          }
        }
      }
    }
  }

  