@use "../../styles/colors" as *;
@use "../../styles/responsive" as *;
@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;

.schedule {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;

  &__home-link {
    position: absolute;
    left: .75rem;

    @include desktop {
      left: 1.5rem;
      top: 1rem;
    }
  }

  &__table {
    border-collapse: collapse;
    margin: 1.5625rem 0;
    height: 25rem;
    font-size: 0.8125rem;
    box-shadow: 0 0 1.25rem $form-shadow;
    @include tablet {
      width: 39.4375rem;
      height: 21.875rem;
    }
  }

  &__table thead tr {
    background-color: $yellow;
    color: $white;
    text-align: center;
  }

  &__table th,
  .schedule__table td {
    padding: 1rem 0.3125rem;
    text-align: center;
  }

  &__table tbody tr {
    border-bottom: 1px solid $login-message-background;
  }

  &__table tbody tr:nth-of-type(even) {
    background-color: $login-background;
  }

  &__table tbody tr:last-of-type {
    border-bottom: 2px solid $yellow;
  }

  &__table tbody tr:hover {
    cursor: pointer;
    background-color: $black;
    color: $yellow;
  }
}
