.comments{
    width:280px;
    display:flex;
    flex-direction: column;
    margin: auto;
    gap: 20px;

    &__text{
        border-bottom: 2px solid grey;
        margin-bottom: 5px;
    }

    &__content{
        margin-bottom: 5px;
    }
}




