@use "../../styles/colors" as *;
@use "../../styles/responsive" as *;
@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;



.comments {
  max-width: 29.4375rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 1.25rem;

  @include tablet {
    max-width: 40.9375rem;
  }

  @include desktop {
    max-width: 40.125rem;
  }

  &__text {
    border-bottom: 1px solid grey;
    margin: 0.75rem;
    display: flex;
    height: 150px;
    justify-content: space-between;
    flex-direction: column;
    position: relative;

    @include tablet {
      font-size: 1.1875rem;
    }
  }


  &__name {
    color: #C3FD60;
    margin-bottom: 10px;
  }

  &__content {
    display: flex;
    align-items: center;
    width: 291px;
    margin-left: .9375rem;

    @include tablet {
      font-size: 1.125rem;
    }
  }

  &__date-content{
    display: flex;
  }

  &__time {
    font-size: .6875rem;
    margin-bottom: 0.625rem;
    position: absolute;
    top: 0;
    right: 50px;
  }


}
