@use "../../styles/mixins" as *;

.signup-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.signup {
  display: flex;
  flex-direction: column;
  width: 22rem;
  
  box-shadow: 0 0px 4px #fcad46;
  border-radius: 0.5rem;
  padding: 2rem 1.5rem;
  margin-bottom: 1rem;

  &__title {
    @include form-title;
    width: 32%;
  }

  &__button {
    margin-top: 1rem;
    border-radius: 0.7rem;
    padding: 0.5rem;
    font-size: inherit;
    cursor: pointer;
    transition: background-color 0.15s;
    position: relative;
    color: #fff;
    background: #111;
    border: 1px solid white;
  }

  &__message {
    border-left: 4px solid transparent;
    border-image: linear-gradient(
      180deg,
      #ff6663,
      #feb144,
      #fdfd97,
      #9ee09e,
      #9ec1cf,
      #002bff63,
      #cc99c9,
      #e171c8,
      #ff6663
    );
    border-image-slice: 1;
    padding: 0.75rem;
    margin-top: 2rem;
  }

  &__input {
    border: 2px solid #b182df;
  }
}
