@use "../../styles/mixins" as *;
@use "../../styles/colors" as *;
@use "../../styles/responsive" as *;

.signup-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dark-box-shadow{
  box-shadow: 0 0px 4px #ffffff;
  border-radius: 0.5rem;
  background-color: #00396b;
  color: #9DF803;
}

.light-box-shadow{
  box-shadow: 0 0px 4px #000000;
  border-radius: 0.5rem;
  background-color:  white;
  color: rgb(22 169 205);
}

.signup-toggle{
  position: absolute;
  top: 5px;
  right: 15px;

  @include tablet {
      top: 12px;
      right: 21px;
  }
}

.toggle-signup-img{
  width: 32px;

  @include tablet{
      width: 37px
  }

  @include desktop {
    width: 47px;
  }

}


.signup {
  display: flex;
  flex-direction: column;
  width: 19rem;
  padding: 2rem 1.5rem;
  margin-bottom: 1rem;

  @include tablet {
    width: 27rem;
  }

  @include desktop {
    width: 31rem;
  }

  &__title {
    @include form-title;
    width: 32%;
    // color: rgb(22 169 205);
  }

  &__button {
    margin-top: 1rem;
    border-radius: 0.7rem;
    padding: 0.5rem;
    font-size: inherit;
    cursor: pointer;
    transition: background-color 0.15s;
    position: relative;
    color: #fff;
    background: #111;
    border: 1px solid #000000;
  }

  &__message {
    border-left: 4px solid transparent;
    border-image: linear-gradient(
      180deg,
      #ff6663,
      #feb144,
      #fdfd97,
      #9ee09e,
      #9ec1cf,
      #002bff63,
      #cc99c9,
      #e171c8,
      #ff6663
    );
    border-image-slice: 1;
    padding: 0.75rem;
    margin-top: 2rem;
    // color: rgb(22 169 205);
  }

  &__box-message{
    color: white;
  }

  &__link{
    color: #9DF803;
  }

  &__input {
    border: 2px solid #b182df;
  }
}
