@use "./styles/fonts" as *;
@use "./styles/colors" as *;
@use "./styles/responsive" as *;
@use "./styles/mixins" as *;



*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: "Titillium Web", sans-serif;  
}

a {
  color:white;
text-decoration: none;
cursor: pointer;
}

.app__button{
  height: 50px;
  width: 50px;
  position: absolute;
  top:50px;

}

.dark-theme {
  background-color: #4D3C6B;
  color: #ffdd53;
}

.light-theme {
  background-color: #c6c6f5;
  // color: #3e31ff;
  color: #4D3C6B;
  box-shadow: 0 0px 4px #fcad46;
  // color: #fcad46;
 
  
}