@use "./styles/fonts" as *;
@use "./styles/colors" as *;
@use "./styles/responsive" as *;
@use "./styles/mixins" as *;



*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: "Titillium Web", sans-serif;  
}

a {
text-decoration: none;
cursor: pointer;
}

.app__button{
  height: 50px;
  width: 50px;
  position: absolute;
  top:50px;

}

