@use "./styles/fonts" as *;
@use "./styles/colors" as *;
@use "./styles/responsive" as *;
@use "./styles/mixins" as *;



*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    
}

a {
 
text-decoration: none;
cursor: pointer;
}

.app__button{
  height: 50px;
  width: 50px;
  position: absolute;
  top:50px;

}

.dark-theme {
  background-color: #000000e8;
  color: white;
 
}


.light-theme {
  background-color:  #F0F0FF;
  // background-color: rgb(22 169 205);
  color: black;
 
}
