@use "../../styles/colors" as *;
@use "../../styles/responsive" as *;
@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;

.admin {
  background-color: $yellow;
  
  &__welcome {
    height: 4.125rem;
    color: $white;
    padding-top: 1.25rem;
    max-width: 33.125rem;
    margin: auto;
    text-align: center;
  }

  &__text-message {
    color: $not-admin;
  }

  &__not-admin {
    color: $white;
    max-width: 25rem;
    height: 5.1875rem;
    margin: 0 1.3125rem;
    padding-top: 0.625rem;

    @include tablet {
      margin: 0 1.625rem;
    }
  }

  &__not-admin-link{
    color: $not-admin;
    cursor: pointer;
    margin-left: .9375rem;
    
  }

  &__container {
    background-color: $login-message-background;
    padding-top: 0.9375rem;
  }

  &__players{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid $black;
    max-width: 33.125rem;
    margin: auto;
    padding: 0.75rem;
    align-items: center;

    @include tablet {
      padding: 0.875rem;
    }
  }

  &__info {
    color: $black;
    display: flex;
    gap: 0.625rem;
  }

  &__color {
    color: $yellow;
  }

  &__color-admin{
    color: $white;
  }

  &__delete-container {
    display: flex;
    gap: 0.9375rem;
  }

  &__delete-text {
    color: $black;
    font-size: .75rem;
  }
}
