@use "../../styles/colors" as *;
@use "../../styles/responsive" as *;
@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;

.admin-toggle{
  position: absolute;
  top: 15px;
  right: 19px;

  @include tablet {
      top: 15px;
      right: 21px;
  }

  @include desktop{
    top: 12px;
    right: 36px;
  }
}

.toggle-admin-img{
  width: 32px;

  @include tablet{
      width: 37px
  }

  @include desktop {
    width: 42px;
  }
}

.dark-admin{
  background-color: #000000e8;
  color: white;
  padding-top: 0.9375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: scroll;
}
.light-admin{
  background-color: rgb(22 169 205);
  color: white;
  overflow: scroll;
  padding-top: 0.9375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.admin {
  
  &__text-message {
    color: $not-admin;
  }

  &__not-admin {
    color: $white;
    max-width: 25rem;
    height: 5.1875rem;
    margin: 0 1.3125rem;
    padding-top: 0.625rem;

    @include tablet {
      margin: 0 1.625rem;
    }
  }

  &__not-admin-link{
    color: $not-admin;
    cursor: pointer;
    margin-left: .9375rem;
    
  }

  // &__container {
  //   background-color: $white;
  //   padding-top: 0.9375rem;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   height: 100vh;
  // }

 
 
}
