
.home__hero-container{
    width:100vw;
    background-image: url("../../assets/images/sponsor2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 54vw;
}

.home__hero-img{
    width:100%;
    object-fit: contain;
}