@use "../../styles/mixins" as *;

.dashboard__logout{
   @include button-style;
   position: absolute;
   right: 13px;
   top: 14px;
   width: 63px;
   height: 38px;
   margin-left: 5px;
}


.home__hero-container{
    width:100vw;
    background-image: url("../../assets/images/sponsor2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 54vw;

    &__hero-img{
        width:100%;
        object-fit: contain;
    }
}


